.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-Grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50vh;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-Grey-dark-1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-Grey-light-2);
  border-bottom: var(--line);
}

.description {
  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%; // takes 60% of the available space, usually the grow and shrink are 0 when we use percentage
  margin-right: 4.5rem;
}
.user-reviews {
  flex: 1; // takes the remaining space
}
